.container-client {
  margin-top: 30px; }
  .container-client #wellcome {
    text-align: center; }
  .container-client #logout {
    float: right;
    margin-top: -30px; }
  .container-client #client {
    margin-top: 50px; }
    .container-client #client #uLogFile {
      font-weight: bold; }
    .container-client #client #fileName {
      margin-left: 10px; }
    .container-client #client #uploadFile {
      margin-left: 10px; }
