#firstNav {
  background: #007bb2;
  height: 50px; }
  #firstNav #greeting {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: #fff; }

.navbar-custom {
  background-color: #fff;
  border-radius: 0; }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #29afed;
  font-size: 150%;
  margin-top: 10px; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: #40819e;
  color: #33bbff;
  border-radius: 15%; }

.navbar-custom .navbar-nav > li {
  padding-left: 20px; }

.navbar-custom .navbar-nav > li > a {
  color: #29afed;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px; }

#thirdNav {
  background: #eadc70;
  height: 200px;
  margin-top: 0; }
  #thirdNav #h2 {
    padding-top: 25px;
    text-align: center;
    color: #fff; }
  #thirdNav #info {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #fff; }
  #thirdNav #copyright {
    float: right;
    margin-right: 50px;
    color: #fff; }

#login {
  display: inline-block;
  margin-top: 30px;
  margin-left: 18%; }
  #login #h3_login {
    width: 50%;
    color: blue;
    margin-left: 15px; }
  #login .login-group {
    margin-top: 0px; }
    #login .login-group #user_name {
      display: inline-block;
      width: 20%; }
    #login .login-group #password {
      display: inline-block;
      width: 20%;
      margin-left: 10px; }
    #login .login-group #btn_login {
      display: inline-block; }
    #login .login-group #forgotPass {
      margin-top: 5px;
      display: block; }

#register {
  display: inline-block;
  margin-top: 10px;
  margin-left: 18%;
  width: 40%; }
  #register #h3_register {
    margin-left: 15px;
    color: orange; }
  #register .input-group {
    margin-top: 15px;
    width: 90%; }
  #register #btn_register {
    margin-top: 10px;
    margin-left: 215px; }
