.navbar-custom {
  background-color: #fff;
  border-radius: 0;
  top: 0; }

.navbar-custom .navbar-nav {
  margin-left: 80px; }

.navbar-custom .navbar-user {
  display: inline-block;
  margin-top: 28px;
  margin-left: 40%; }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #29afed;
  font-size: 150%;
  margin-top: 10px; }

.navbar-custom .navbar-logout {
  float: right;
  margin-right: 5%;
  margin-top: 28px;
  font-weight: bold;
  display: inline-block; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  border-bottom: 2px solid #7496db;
  background: #fff; }

.navbar-custom .navbar-nav > li {
  padding-left: 20px; }

.navbar-custom .navbar-nav > li > a {
  color: #29afed;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
  padding-bottom: 5px; }

#sidebar {
  position: relative;
  background: #594a4a;
  width: 12%;
  float: left;
  top: 0;
  left: 0; }
  #sidebar .navbar-nav > li {
    padding: 0;
    margin-left: 30px; }
  #sidebar .navbar-nav > li > a {
    margin-top: 10px;
    color: #fff; }
  #sidebar .navbar-nav > li > a:hover,
  #sidebar .navbar-nav > li > a:focus {
    border-bottom: 1px solid #fff;
    background: #594a4a;
    padding-bottom: 30px; }

.container-login #wellcome {
  text-align: center; }

.container-login .jumbotron {
  padding-bottom: 15px; }
  .container-login .jumbotron #dela #nazivDela {
    margin-top: 30px;
    width: 260px;
    margin-left: 55px; }
  .container-login .jumbotron #dela #nazivAutora {
    margin-top: 30px;
    width: 260px;
    margin-left: 35px; }
  .container-login .jumbotron #dela #tipOrkestra {
    margin-top: 30px;
    width: 260px;
    margin-left: 35px; }
  .container-login .jumbotron #dela #novoDelo {
    margin-top: 15px;
    margin-left: 55px; }
  .container-login .jumbotron #dela #dodaj {
    margin-top: 30px;
    margin-left: 15px; }
  .container-login .jumbotron #dela #zatvori {
    margin-left: 15px;
    margin-top: 15px; }
  .container-login .jumbotron #izmeni_delo {
    display: inline-block;
    margin: 20px; }
    .container-login .jumbotron #izmeni_delo #izaberi_delo {
      width: 30%; }
    .container-login .jumbotron #izmeni_delo #iz_delo {
      width: 30%;
      margin-left: 15px; }
    .container-login .jumbotron #izmeni_delo #iz_autor {
      width: 30%;
      margin-left: 15px; }
    .container-login .jumbotron #izmeni_delo #iz_orkestar {
      width: 30%;
      margin-top: 20px; }
    .container-login .jumbotron #izmeni_delo #izmeni {
      display: block;
      margin-top: 20px;
      float: right;
      margin-right: 85px; }
  .container-login .jumbotron #obrisi_delo #obrisi_id {
    width: 30%; }
  .container-login .jumbotron #obrisi_delo #obrisi {
    margin-left: 20px; }
  .container-login .jumbotron #pretrazi_delo #pretraga {
    width: 30%; }
  .container-login .jumbotron #pretrazi_delo #search {
    margin-left: 20px; }
