.navbar-custom{
	background-color: #fff;
	border-radius: 0;
	top: 0;
}

.navbar-custom .navbar-nav{
	margin-left: 80px;
}
.navbar-custom .navbar-user{
		display: inline-block;
		margin-top: 28px;
		margin-left: 40%;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
	color: #29afed;
	font-size: 150%;
	margin-top: 10px;
}
.navbar-custom .navbar-logout{
	float: right;
	margin-right: 5%;
	margin-top: 28px;
	font-weight: bold;
	display: inline-block;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	border-bottom: 2px solid #7496db;
	background: #fff;
}

.navbar-custom .navbar-nav > li {
	padding-left: 20px;
}
.navbar-custom .navbar-nav > li > a {
	color: #29afed;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 12px;
	padding-bottom: 5px;
}
#sidebar{
	position: relative;
	background: #594a4a;
	width: 12%;
	float: left;
	top: 0;
	left: 0;
	.navbar-nav > li{
		padding: 0;
		margin-left: 30px;
	}
	.navbar-nav > li > a{
		margin-top: 10px;
		color: #fff;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus{
		border-bottom: 1px solid #fff;
		background: #594a4a;
		padding-bottom: 30px;
	}
}

#obracun_table{
  .jumbotron{
		padding-bottom: 100px;
		#h3_obracun{
			text-align: center;
			color: orange;
			text-decoration: underline;
			font-size: 30px;
			padding-bottom: 50px;
		}
		#period{
			margin-left: 25px;
		}
		#od{
			margin-left: 20px;
		}
		#do{
			margin-left: 20px;
		}
		#porez{
			margin-top: 20px;
		}
		#nezaposlenost{
			margin-left: 20px;
			margin-top: 20px;
		}
		#id_nezaposlenost{
			margin-left: 20px;
			margin-top: 20px;
		}
		#indexA{
			margin-left: 20px;
			margin-top: 20px;
		}
		#index_autora{
			margin-left: 20px;
			margin-top: 20px;
		}
		#obracunaj{
			float: right;;
			margin-right: 80px;
			margin-top: 80px;
		}
  }
	#obracunT{
		#btn_stampaj{
			float: right;
			margin-right: 100px;
			visibility: hidden;
		}
	}
}
