.container-client{
  margin-top: 30px;
  #wellcome{
    text-align: center;
  }
  #logout{
    float: right;
    margin-top: -30px;
  }
  #client{
    margin-top: 50px;
    #uLogFile{
      font-weight: bold;
    }
    #fileName{
      margin-left: 10px;
    }
    #uploadFile{
      margin-left: 10px;
    }
  }
}
