.navbar-custom{
	background-color: #fff;
	border-radius: 0;
	top: 0;
}

.navbar-custom .navbar-nav{
	margin-left: 80px;
}
.navbar-custom .navbar-user{
		display: inline-block;
		margin-top: 28px;
		margin-left: 40%;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
	color: #29afed;
	font-size: 150%;
	margin-top: 10px;
}
.navbar-custom .navbar-logout{
	float: right;
	margin-right: 5%;
	margin-top: 28px;
	font-weight: bold;
	display: inline-block;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
	border-bottom: 2px solid #7496db;
	background: #fff;
}

.navbar-custom .navbar-nav > li {
	padding-left: 20px;
}
.navbar-custom .navbar-nav > li > a {
	color: #29afed;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 12px;
	padding-bottom: 5px;
}
#sidebar{
	position: relative;
	background: #594a4a;
	width: 12%;
	float: left;
	top: 0;
	left: 0;
	.navbar-nav > li{
		padding: 0;
		margin-left: 30px;
	}
	.navbar-nav > li > a{
		margin-top: 10px;
		color: #fff;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus{
		border-bottom: 1px solid #fff;
		background: #594a4a;
		padding-bottom: 30px;
	}
}
.container-login{
  #wellcome{
    text-align: center;
  }
  .jumbotron{
    padding-bottom: 15px;
    #dela{
          #nazivDela{
            margin-top: 30px;
            width: 260px;
            margin-left: 55px;
          }
          #nazivAutora{
            margin-top: 30px;
            width: 260px;
            margin-left: 35px;
          }
          #tipOrkestra{
            margin-top: 30px;
            width: 260px;
            margin-left: 35px;
          }
          #novoDelo{
            margin-top: 15px;
            margin-left: 55px;
          }
          #dodaj{
            margin-top: 30px;
            margin-left: 15px;
          }
          #zatvori{
            margin-left: 15px;
            margin-top: 15px;
          }
    	}

		#izmeni_delo{
			display: inline-block;
			margin: 20px;
			#izaberi_delo{
				width: 30%;
			}
			#iz_delo{
				width: 30%;
				margin-left: 15px;
			}
			#iz_autor{
				width: 30%;
				margin-left: 15px;
			}
			#iz_orkestar{
				width: 30%;
				margin-top: 20px;
			}
			#izmeni{
				display: block;
				margin-top: 20px;
				float: right;
				margin-right: 85px;
			}
		}
		#obrisi_delo{
			#obrisi_id{
				width: 30%;
			}
			#obrisi{
				margin-left: 20px;
			}
		}
		#pretrazi_delo{
			#pretraga{
				width: 30%;
			}
			#search{
				margin-left: 20px;
			}
		}
  }

}
